$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f9f9f9;
$border-color: #ddd;
$padding: 15px;
$margin: 20px 0;
$border-radius: 5px;
$font-size: 16px;


.entete1 {
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    margin: $margin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: $font-size;
    color: $text-color;

    h4,
    h5 {
        margin: 10px 0;
        font-weight: normal;

        &:first-of-type {
            font-weight: bold;
            color: $primary-color;
        }
    }

    h4 {
        &:first-of-type {
            color: $secondary-color;
        }
    }

    h5 {
        color: darken($text-color, 10%);
    }
}